.formStructure{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    box-shadow: 10px 10px 5px #a5819e;
}

.formField {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.buttonClass{
    display: flex;
    width: 450px; 
    height: 40px; 
    margin-top: 10px;
    background-color: #ff4dcec2;
}

.formStructure{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    width: 500px;
    margin: auto;
    background-color: #ffdfe5;
    padding: 30px;
    margin-top: 40px;
    border-radius: 20px;
}