.buttonColor{
    color: #ff4dcec2;
    width: 200px;
    border: px solid pink;
}

.mat-icon{
    margin-top: -3px;
    height: 20px;
}

.mat-mdc-table .mdc-data-table__header-row {
    height: 56px;
    background-color: #ff408191;
}