.position {
    position: relative;
    left: 400px;
    margin-top: 6px;
}

.manually {
    display: inline-block;
    position: relative;
    left: 0px;
}

.btn-primary {
    position: relative;
    top: 1px;
    right: 300px;
    background: none;
    border: none;
    color: rgb(210, 108, 125);
    padding-left: 1px;
}

.mat-elevation-z8 {
    margin: 20px;
    border: 1px solid black;
}


.mat-mdc-table .mdc-data-table__header-row {
    background-color: #ff4081;
}

.status-pill {
    display: inline-block;
    // padding: 10px 10px;
    border-radius: 20px;
    background-color: green;
    color: #fff;
    margin-top: 15px;
}