
<a class="btn btn-primary " role="button" data-bs-toggle="button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
    <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
  </svg>&nbsp; Dashboard</a>
<a  class="btn btn-primary " role="button" data-bs-toggle="button" aria-pressed="true"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
<path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
</svg>&nbsp;Fronted App Setting</a>
<a  class="btn btn-primary " role="button" data-bs-toggle="button" aria-pressed="true"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
    <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
    </svg>&nbsp;App</a>


<hr>

<div class="container">
<form [formGroup]="subCategary">
    <div class="row ">
        <div class="col-md-8 p-2">
            <label for="Heading" class="form-label label">Heading</label>
            <input type="text" class="form-control Sub_Categary_Name"  id="Heading" formControlName="Heading"> <br>
            <label for="Primary_Button_Text" class="form-label label">Primary Button Text</label>
            <input type="text" class="form-control Sub_Categary_Name"  id="Primary_Button_Text" formControlName="Primary_Button_Text"> <br>
            <label for="primary_button_link" class="form-label label">Primary Button link</label>
            <input type="text" class="form-control Sub_Categary_Name"  id="primary_button_link" formControlName="primary_button_link"><br>
            <label for="secondary_button_text" class="form-label label">Secondary Button Text</label>
            <input type="text" class="form-control Sub_Categary_Name"  id="secondary_button_text" formControlName="secondary_button_text"><br>
            <label for="secondary_button_link" class="form-label label">Secondary Button Link</label>
            <input type="text" class="form-control Sub_Categary_Name"  id="secondary_button_link" formControlName="secondary_button_link"><br>
            
        </div>
        <div class="col-md-4 p-2">
            <p><label for="Description" class="form-label">Description</label></p>
            <textarea name="Description" id="Description" cols="56" rows="10" formControlName="Description"></textarea> <br>
              <label for="image" class="form-label"  >Cover</label><br>
              <input type="file" id="file" class="file" >
              <button class="btn create-catagary" (click)="AddSubCategary()">Create Categary</button>
        </div>
    </div>
</form>
</div>



