<a class="btn btn-primary " role="button" data-bs-toggle="button"><svg xmlns="http://www.w3.org/2000/svg" width="16"
    height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
    <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z" />
  </svg>&nbsp; Dashboard</a>
<a class="btn btn-primary " role="button" data-bs-toggle="button" aria-pressed="true"><svg
    xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
    <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z" />
  </svg>&nbsp;Fronted App Setting</a>

<button class="btn btn-primary add-catagary" routerLink="Banner-Form">+ Add Slide</button>

<hr>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="/banner/Home-Slide">Home Slide</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " routerLinkActive="active" routerLink="/banner/Home-Banner">Home Banners</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " routerLinkActive="active" routerLink="/banner/Notification">Notification</a>
  </li>
</ul>

<router-outlet></router-outlet>
