.btn-primary{
    position: relative;
    top: 10px;
    right: 440px;
    background: none;
    border: none;
    color: rgb(210, 108, 125);
    padding-left: 1px;
}
.add-catagary{
  position: relative;
  top: 10px;
  left: 415px;
  width: 200px;
  border: 1px solid pink;
  color: rgb(210, 108, 125);
  padding-left: 1px;
}