.toolbar-item-spacer {
    flex: 1 1 auto;
}

.app-container {
    height: 90%;
    margin: 0;
}  
.app-sidenav {
    width: 250px;
}
.app-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.mat-toolbar.mat-primary{
    background: #ff4081;
}

.buttonColor{
    background: #ff4081;
}