<div class="container w-100">
  <mat-grid-list cols="4" rowHeight="100px" gutterSize="40px" class="sales-grid">
    <mat-grid-tile style="background-color: #ffb4cd91;" class="sales-tile" *ngFor="let summary of salesSummaryData">
      <div class="left-side">
        <p style="font-size: 13px;"><b>{{ summary.text}}</b></p>
        <h1><b>{{ summary.dynamicData }}</b></h1>
      </div>
      <div class="right-side">
        <mat-icon>{{ summary.image }}</mat-icon>
        <!-- <img [src]="summary.image" alt=""> -->
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  
  
  <div class="charts ms-5">
    <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"></highcharts-chart>
    <highcharts-chart [Highcharts]="Highcharts" [options]="pieChartOptions"></highcharts-chart>
  </div>
</div>